-
    var headerMenu = {
        0: {
           0: {
               'name' : '% Акции',
               'link' : '#',
               'level' : 1
           },
           1: {
               'name' : 'Новинки',
               'link' : '#',
               'level' : 1
           },
           2: {
               'name' : 'Категория каталога',
               'link' : '#',
               'level' : 1,
               'subLevel' : {
                   0: {
                       'name' : 'Подкатегория каталога',
                       'link' : '#',
                       'level' : 2
                   },
                   1: {
                       'name': 'Подкатегория каталога',
                       'link': '#',
                       'level' : 2
                   },
                   2: {
                       'name': 'Подкатегория каталога',
                       'link': '#',
                       'level' : 2
                   },
                   3: {
                       'name': 'Подкатегория каталога',
                       'link': '#',
                       'level' : 2
                   },
                   4: {
                       'name': 'Подкатегория каталога',
                       'link': '#',
                       'level' : 2
                   },
                   5: {
                       'name': 'Подкатегория каталога',
                       'link': '#',
                       'level' : 2
                   },
                   6: {
                       'name': 'Подкатегория каталога',
                       'link': '#',
                       'level' : 2
                   },
                   7: {
                       'name': 'Подкатегория каталога',
                       'link': '#',
                       'level' : 2
                   },
               },
           },
           3: {
                'name': 'Категория каталога',
                'link': '#',
               'level' : 1,
                'subLevel': {
                    0: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    1: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    2: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    3: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    4: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    5: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    6: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                },
            },
        },
        1: {
            0: {
                'name': 'Категория каталога',
                'link': '#',
                'level' : 1,
                'subLevel': {
                    0: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    1: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    2: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    3: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    4: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                },
            },
            1: {
                'name': 'Категория каталога',
                'link': '#',
                'level' : 1,
                'subLevel': {
                    0: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    1: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    2: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    3: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    4: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    5: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    6: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    7: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    8: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    9: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                },
            },
        },
        2: {
            0: {
                'name': 'Категория каталога',
                'link': '#',
                'level' : 1,
                'subLevel': {
                    0: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    1: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    2: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    3: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    4: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    5: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                },
            },
            1: {
                'name': 'Категория каталога',
                'link': '#',
                'level' : 1,
                'subLevel': {
                    0: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    1: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    2: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    3: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                },
            },
            2: {
                'name': 'Категория каталога',
                'link': '#',
                'level' : 1,
                'subLevel': {
                    0: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    1: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    2: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    3: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    4: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    5: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                    6: {
                        'name': 'Подкатегория каталога',
                        'link': '#',
                        'level' : 2
                    },
                },
            },
        },
    };

    var menuSidebar = {
         0: {
            'name': 'Условия заказа',
            'link': '#'
         },
         1: {
            'name': 'Доставка',
            'link': '#'
         },
         2: {
            'name': 'Оплата',
            'link': '#'
         },
         3: {
            'name': 'О компании',
            'link': '#'
         },
         4: {
            'name': 'Контакты',
            'link': '#'
         },
    };

.wrapper
    nav.header-menu
        .container
            .row.justify-content-between
                .col-6.col-sm-8.col-lg-9
                    .row.justify-content-between
                        each val, key in headerMenu
                            .col-12.col-md-4.header-menu_col
                                each subVal, subKey in val
                                    ul.header-menu_list
                                        if(subVal.name === '% Акции')
                                            li.header-menu_item
                                                a(class='header-menu_link promo-menu-link' href=subVal.link style='color:red')=subVal.name
                                        else
                                            li.header-menu_item
                                                a(class='header-menu_link' href=subVal.link)=subVal.name

                                                if(subVal.subLevel)
                                                    ul.header-submenu_list.d-none.d-md-block
                                                        each subList in subVal.subLevel
                                                            li.header-submenu_item
                                                                a(class='header-submenu_link' href=subList.link)=subList.name

                .col-6.col-sm-4.col-lg-3
                    .header-menu_sidebar
                        ul.header-menu_list
                            each val, key in menuSidebar
                                li.header-menu_item
                                    a(class='header-menu_link' href=val.link)=val.name












