extends _template.pug
block content
	main
		include include/_hero-section
		.container
			include include/_discount-goods-section
			include include/_interesting-useful-section
			include include/_popular-section
			include include/_seeds-section
			include include/_buy-now-section
			include include/_recommendations-section
			include include/_discount-section
			include include/_fertilizers-section
			include include/_news-section
			include include/_connect-section
			include include/_post-section
			include include/_feedback-section



