-
    var newsCards = {
        0: {
            'name': 'Для оптового заказа обращайтесь только к нашим менеджерам',
            'date': '25.11.2020',
            'link': 'news-article.html',
            'img' : 'img/recommendations-sect/recom_1.png',
            'alt' : 'новости'
        },
        1: {
            'name': 'КОНКУРС! #СеДеКвМоемГороде',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        2: {
            'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        3: {
            'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        4: {
            'name': 'КОНКУРС! #СеДеКвМоемГороде',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        5: {
            'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        6: {
            'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        7: {
            'name': 'КОНКУРС! #СеДеКвМоемГороде',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        8: {
            'name': 'КОНКУРС! #СеДеКвМоемГороде',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        9: {
            'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        10: {
            'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        11: {
            'name': 'КОНКУРС! #СеДеКвМоемГороде',
            'date': '25.11.2020',
            'link': 'news-article.html'
        },
        12: {
            'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
            'date': '25.11.2020',
            'link': 'news-article.html'
        }
    };

section.news-section.all-news
    .section-top
        h1.page-header Новости

    .row
        .col-12.col-md-8.col-lg-6
            .news-card.news-card-grid-first
                a.news-card-active(href='news-article.html')
                    img(src='img/recommendations-sect/recom_1.png' alt='новости')
                    .recom-card-active_heading
                        h3.news-active-heading Для оптового заказа обращайтесь только к нашим менеджерам
                        span.card-date 25.11.2020
        .col-md-4.col-lg-6
            .row.top-news
                .col-12.col-sm-6.col-md-12.col-lg-6
                    .news-card
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                            span.card-date 25.11.2020

                .col-12.col-sm-6.col-md-12.col-lg-6
                    .news-card
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                            span.card-date 25.11.2020

                .col-12.col-sm-6.col-md-4.col-lg-6.movable-card
                    .news-card
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                            span.card-date 25.11.2020

                .col-12.col-sm-6.col-md-4.col-lg-6.movable-card
                    .news-card
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                            span.card-date 25.11.2020

    .row.bottom-news
        .col-12.col-sm-6.col-md-4.col-lg-3
            .news-card
                a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                    h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                    span.card-date 25.11.2020
        .col-12.col-sm-6.col-md-4.col-lg-3
            .news-card
                a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                    h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                    span.card-date 25.11.2020
        .col-12.col-sm-6.col-md-4.col-lg-3
            .news-card
                a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                    h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                    span.card-date 25.11.2020
        .col-12.col-sm-6.col-md-4.col-lg-3
            .news-card
                a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                    h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                    span.card-date 25.11.2020



    .row.justify-content-around
        .col-12.col-md-8.col-lg-6.d-flex.flex-column.align-items-center
            a(class='btn show-btn' href='javascript:void(0)') Показать ещё
            .pagination-wrapper
                ul.pagination-list.d-flex.align-items-end.justify-content-between
                    li.pagination-item
                        span.pagination-span
                    li.pagination-item
                        span.pagination-span.span-page 1
                    li.pagination-item
                        a(href='#') 2
                    li.pagination-item
                        a(href='#') 3
                    li.pagination-item
                        span.pagination-span  ...
                    li.pagination-item
                        a(href='#') 12
                    li.pagination-item
                        a.pagination-span.span-next(href='javascript:void(0)')




