

section.delivery-description
    h1.page-header Доставка
    .row.justify-content-around.delivery-content.d-flex.flex-column.align-items-center
        .col-12
            p.description-paragraph Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        .col-12.col-lg-10.col-xl-8
            img(src='img/delivery/delivery.jpg' alt='Доставка')

section.delivery-method-section
    table.delivery-table
        thead
            tr.delivery-table_head
                td
                    h2.table-header Зона доставки
                td
                    h2.table-header Доступные способы доставки
                td
                    h2.table-header Сроки доставки
                td
                    h2.table-header Стоимость
        tbody
            tr.delivery-table_row
                td.delivery-table_col.table_col-heading(rowspan=7) Москва
                td.table_col-empty
                td.table_col-empty
                td.table_col-empty
            tr.delivery-table_row
                td.delivery-table_col.delivery-table_col-bold.table-col-highlighted Самовывоз
                td.delivery-table_col.table-col-highlighted В этот же день при заказе до 12:00 На следующий день при заказе после 12:00
                td.delivery-table_col.table-col-highlighted Бесплатно
            tr.delivery-table_row
                td.delivery-table_col.delivery-table_col-bold Курьером
                td.delivery-table_col 1-2 дня
                td.delivery-table_col 300р (Бесплатно от 5000 р)
            tr.delivery-table_row
                td.table-col-highlighted
                    .delivery-table_col.delivery-table_col-bold Экспресс-доставка
                td.table-col-highlighted
                    .delivery-table_col В этот же день
                td.table-col-highlighted
                    .delivery-table_col 600 р
            tr.delivery-table_row
                td.delivery-table_col.delivery-table_col-bold СДЭК курьер
                td.delivery-table_col 1-2 дня
                td.delivery-table_col Цены можно посмотреть
                    a(href='#') здесь
            tr.delivery-table_row
                td.delivery-table_col.table-col-highlighted.delivery-table_col-bold СДЭК до ПВЗ
                td.delivery-table_col.table-col-highlighted
                    .delivery-table_col 1-2 дня
                td.delivery-table_col.table-col-highlighted.delivery-table_col Цены можно посмотреть
                    a(href='#') здесь
            tr.delivery-table_row
                td.delivery-table_col.delivery-table_col-bold Почта России
                td.delivery-table_col 2-3 дня
                td.delivery-table_col от 150 р
            tr.delivery-table_row.table_row-border

                td.delivery-table_col.table_col-heading(rowspan=6) Московская область
                td.table_col-empty
                td.table_col-empty
                td.table_col-empty
            tr.delivery-table_row
                td.table-col-highlighted.delivery-table_col.delivery-table_col-bold Самовывоз
                td.table-col-highlighted.delivery-table_col На следующий день. Со склада
                td.table-col-highlighted.delivery-table_col Бесплатно
            tr.delivery-table_row
                td.delivery-table_col.delivery-table_col-bold Курьером
                td.delivery-table_col 2-3 дня
                td.delivery-table_col 800р (Бесплатно от 6000 р)
            tr.delivery-table_row
                td.table-col-highlighted.delivery-table_col.delivery-table_col-bold СДЭК курьер
                td.table-col-highlighted.delivery-table_col 3-5 дней
                td.table-col-highlighted.delivery-table_col Цены можно посмотреть
                    a(href='#') здесь
            tr.delivery-table_row
                td.delivery-table_col.delivery-table_col-bold СДЭК до ПВЗ
                td.delivery-table_col 3-5 дней
                td.delivery-table_col Цены можно посмотреть
                    a(href='#') здесь
            tr.delivery-table_row
                td.table-col-highlighted.delivery-table_col.delivery-table_col-bold Почта России
                td.table-col-highlighted.delivery-table_col 5-7 дней
                td.table-col-highlighted.delivery-table_col от 350 р
            tr.delivery-table_row.table_row-border

                td.delivery-table_col.table_col-heading(rowspan=4) По России
                td.table_col-empty
                td.table_col-empty
                td.table_col-empty
            tr.delivery-table_row
                td.table-col-highlighted.delivery-table_col.delivery-table_col-bold СДЭК курьер
                td.table-col-highlighted.delivery-table_col от 5 дней
                td.table-col-highlighted.delivery-table_col Цены можно посмотреть
                    a(href='#') здесь
            tr.delivery-table_row
                td.delivery-table_col.delivery-table_col-bold СДЭК до ПВЗ
                td.delivery-table_col от 5 дней
                td.delivery-table_col.d-inline Цены можно посмотреть
                    a(href='#') здесь
            tr.delivery-table_row
                td.table-col-highlighted.delivery-table_col.delivery-table_col-bold Почта России
                td.table-col-highlighted.delivery-table_col 10-14 дней
                td.table-col-highlighted.delivery-table_col Цены можно посмотреть
                    a(href='#') здесь




