-
    var newsCards = {
            0: {
                'name': 'Для оптового заказа обращайтесь только к нашим менеджерам',
                'date': '25.11.2020',
                'link': 'news-article.html',
                'img' : 'img/recommendations-sect/recom_1.png',
                'alt' : 'новости'
            },
            1: {
                'name': 'КОНКУРС! #СеДеКвМоемГороде',
                'date': '25.11.2020',
                'link': 'news-article.html'
            },
            2: {
                'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
                'date': '25.11.2020',
                'link': 'news-article.html'
            },
            3: {
                'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
                'date': '25.11.2020',
                'link': 'news-article.html'
            },
            4: {
                'name': 'КОНКУРС! #СеДеКвМоемГороде',
                'date': '25.11.2020',
                'link': 'news-article.html'
            },
            5: {
                'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
                'date': '25.11.2020',
                'link': 'news-article.html'
            },
            6: {
                'name': 'ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!',
                'date': '25.11.2020',
                'link': 'news-article.html'
            },
            7: {
                'name': 'КОНКУРС! #СеДеКвМоемГороде',
                'date': '25.11.2020',
                'link': 'news-article.html'
            },
            8: {
                'name': 'КОНКУРС! #СеДеКвМоемГороде',
                'date': '25.11.2020',
                'link': 'news-article.html'
            }
        };


section.lk-worker-section.worker-article-section
    h2.hidden-heading 1
    .row
        .col-12.col-md-4.col-lg-3
            include _lk-worker-menu-mobile.pug
            include _lk-worker-menu.pug
        .col-12.col-md-8.col-lg-9
            .personal_header-block
                h1.page-header Новости

            section.news-section.worker-news-section
                h2.hidden-heading 1
                .row.top-news.all-news
                    .col-12.col-xl-8
                        a.news-card-active(href='news-article.html')
                            .news-card.news-card-grid-first
                                img(src='img/recommendations-sect/recom_1.png' alt='новости')
                                .recom-card-active_heading
                                    h3.news-active-heading Для оптового заказа обращайтесь только к нашим менеджерам
                                    span.card-date 25.11.2020

                    .col-12.col-xl-4
                        .row.justify-content-between
                            .col-12.col-sm-6.col-xl-12.news-card.news-card-grid
                                a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                                    h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                                    span.card-date 25.11.2020
                            .col-12.col-sm-6.col-xl-12.news-card.news-card-grid
                                a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                                    h4.rec-card_heading ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                                    span.card-date 25.11.2020

                    .col-12.col-sm-6.col-xl-4.news-card.news-card-grid
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                            span.card-date 25.11.2020

                    .col-12.col-sm-6.col-xl-4.news-card.news-card-grid
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                            span.card-date 25.11.2020

                    .col-12.col-sm-6.col-xl-4.news-card.news-card-grid
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading КОНКУРС! #СеДеКвМоемГороде
                            span.card-date 25.11.2020

                    .col-12.col-sm-6.col-xl-4.news-card.news-card-grid
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                            span.card-date 25.11.2020

                    .col-12.col-sm-6.col-xl-4.news-card.news-card-grid
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                            span.card-date 25.11.2020

                    .col-12.col-sm-6.col-xl-4.news-card.news-card-grid
                        a.recom-top_card.d-flex.flex-column.justify-content-between(href='news-article.html')
                            h4.rec-card_heading ЧЕРНАЯ ПЯТНИЦА! Целая неделя больших скидок в интернет-магазине!
                            span.card-date 25.11.2020

                .row.justify-content-around
                    .col-12.col-md-8.col-lg-6.col-xl-8.p-0.d-flex.flex-column.align-items-center
                        a(class='btn show-btn' href='javascript:void(0)') Показать ещё
                        .pagination-wrapper
                            ul.pagination-list.d-flex.align-items-end.justify-content-between
                                li.pagination-item
                                    span.pagination-span
                                li.pagination-item
                                    span.pagination-span.span-page 1
                                li.pagination-item
                                    a(href='#') 2
                                li.pagination-item
                                    a(href='#') 3
                                li.pagination-item
                                    span.pagination-span  ...
                                li.pagination-item
                                    a(href='#') 12
                                li.pagination-item
                                    a.pagination-span.span-next(href='javascript:void(0)')
