section.discount-section
   h2.discount-sect_heading Скидки до 70%<br> на овощи и фрукты!
   h3.discount-sect_subheader Закажите прямо сейчас и получите дополнительную скидку
   a(class='btn discount_btn' href='catalog-page.html') Перейти в каталог
   .discount-sect_discount.discount-10 -10%
   .discount-sect_discount.discount-20 -20%
   .discount-sect_discount.discount-40 -40%
   .discount-sect_discount.discount-50 -50%
