header.header
	.container
		.row.align-items-center.justify-content-between
			.col-3.col-sm-2.logo-block
				a.header-logo(href='index.html')
			.col-9.col-sm-10.header-left
				.row.m-0
					.col-12.p-0
						nav
							.row.align-baseline.header-nav.no-gutters
								.col-1.nav_item.p-0.order-12.order-sm-first
									a(class='menu-open' href='javascript:void(0)')
										img(class='i-svg header-menu-img' src='img/header-icons/menu-icon.svg' alt='основное меню')
										span.nav_span.d-block Меню
								.col-1.nav_item.p-0.order-2
									a(href='catalog-page.html')
										img(class='i-svg header-menu-img' src='img/header-icons/catalog-icon.svg' alt='каталог')
										span.nav_span Каталог
								.col-1.nav_item.p-0.order-3
									a(href='#')
										img(class='i-svg header-menu-img' src='img/header-icons/promo-icon.svg' alt='акции')
										span.nav_span Акции
								.col-5.nav_item.p-0.order-4.order-sm-2.order-md-3.order-lg-4
									.search_block
										a(class='search-btn' href='#')
											img(class='i-svg' src='img/header-icons/search-icon.svg' alt='кнопка поиска')
										input(class='header-search' type='search' placeholder='Найти: Помидоры')
								.col-1.nav_item.p-0.order-5
									a(href='#')
										img(class='i-svg header-menu-img' src='img/header-icons/delivery-icon.svg' alt='доставка')
										span.nav_span Доставка
								.col-1.nav_item.p-0.order-lg-6.d-none.d-lg-block
									a(href='#')
										img(class='i-svg header-menu-img' src='img/header-icons/contact-icon.svg' alt='контакты')
										span.nav_span Контакты
								.col-1.nav_item.p-0.order-1.order-sm-3.order-md-4.order-lg-7
									.nav-cart
										a(href='shopping-cart.html')
											img(class='i-svg header-menu-img' src='img/header-icons/cart-icon.svg' alt='корзина')
											img(class='red-bell i-svg' src='img/header-icons/bell-cart-icon.svg' alt='красный колокольчик')
											span.nav_span Корзина
								.col-1.nav_item.p-0.order-2.order-sm-4.order-md-8
									a(href='#')
										img(class='i-svg header-menu-img' src='img/header-icons/user-regular.svg' alt='вход в личный кабинет')
										span.nav_span Вход

				.row.m-0
					.col-12.p-0.header-bottom.d-flex.justify-content-between.align-items-center
						img(class='i-svg header-veg-img' src='img/header-img/veg-1.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-2.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-3.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-4.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-5.svg' alt='овощ')
						h3.header-heading.d-none.d-sm-block Урожайная грядка в любом регионе России
						img(class='i-svg header-veg-img' src='img/header-img/veg-5.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-4.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-3.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-2.svg' alt='овощ')
						img(class='i-svg header-veg-img' src='img/header-img/veg-1.svg' alt='овощ')


	include menu/_header-menu





















