
section.hero-section
    .hero-content
        .container.hero-container
            .row.m-0
                .col.p-0
                    .dark-block
                    h1.hero-heading Урожайная грядка в любом регионе России
                    h3.hero_subheader Большой выбор семян собственного производства
                    a(class='btn hero_btn' href='catalog-page.html') Перейти в каталог
                        i(class='fas fa-caret-right')



