section.interesting-useful
    .row
        .col-12.col-lg-8.d-flex.discount-goods-top.justify-content-between.align-items-center.order-first.order-lg-first
            h2.useful-heading Интересно и полезно
        .col-12.col-lg-4.d-flex.discount-goods-top.align-items-center.order-last.order-lg-2.justify-content-around.justify-content-lg-end
            a(class= 'btn section-btn' href='#')  К наборам


        .col-12.order-2.order-lg-3.interesting-useful_content
            .row
                .col-12.col-sm-10.col-lg-6
                    .interesting-useful_left
                        img(src='img/interesting-useful-sect/int-use_1.png' alt='овощи')
                        .interesting-useful-content_block
                            h3.card-heading Томат, огурчик, перчик. И то, что им необходимо
                            a(class='btn card-btn' href='shopping-cart.html') В корзину

                .col-12.col-lg-6.interesting-useful_content-right.d-flex.justify-content-between
                    .row
                        .col-12.col-sm-6
                            .interesting-useful-right_card.interesting-useful-right_card-1
                                img(src='img/interesting-useful-sect/int-use_2.png' alt='овощи')
                                .interesting-useful-right_block
                                    h4 Томат, огурчик, перчик. И то, что им необходимо
                                    a(class='btn card-btn' href='shopping-cart.html') В корзину

                        .col-12.col-sm-6
                            .interesting-useful-right_card.interesting-useful-right_card-2
                                img(src='img/interesting-useful-sect/int-use_2.png' alt='овощи')
                                .interesting-useful-right_block
                                    h4 Томат, огурчик, перчик. И то, что им необходимо
                                    a(class='btn card-btn' href='shopping-cart.html') В корзину
