section.post-section
    h2 Семена почтой
    .post-txt-block
        p.paragraph-black Интернет магазин компании «СеДеК» предлагает семена овощных, ягодных и цветочных культур. Также вы всегда
            | можете купить удобрения, средства защиты растений и другие товары, необходимые каждому садоводу и
            | огороднику. Продукция доставляется курьерами и отправляется почтой!
        p.paragraph-black В каталоге интернет магазина представлен широкий ассортимент посевного материала. Это семена таких
            | привычных культур, как томат, лук, картофель или баклажан, а также весьма экзотические варианты. Например,
            | артишок или момордика. Большой выбор семян является залогом того, что каждый из посетителей сайта сможет
            | найти подходящую продукцию.
        p.paragraph-black В интернет магазине вы можете купить:
        p.paragraph-black семена компании «СеДеК»;<br>
            | посадочный материал (саженцы цветов, луковичные, семенной картофель, лук-севок);<br>
            | товары для сада и огорода (садовый инвентарь, грунты, удобрения).<br>
            | Заказы на сайте принимаются круглосуточно, и вам не нужно выходить из дома, чтобы сделать выбор и оформить покупку.