-
    var recomTopCards = {
        0: {
            'name': 'Правила поливки',
            'date': '25.11.2020',
            'link': '#'
        },
        1: {
            'name': 'Как предотвратить появление вредителей на участке',
            'date': '25.11.2020',
            'link': '#'
        },


        2: {
            'name': 'Как предотвратить появление вредителей на участке',
            'date': '25.11.2020',
            'link': '#'
        },
        3: {
            'name': 'Правила поливки',
            'date': '25.11.2020',
            'link': '#'
        },
    };

    var recomBottomCards = {
        0: {
            'name' : 'Как правильно ухаживать за урожаем?',
            'date' : '25.11.2020',
            'link' : '#'
        },
        1: {
            'name': 'Как предотвратить появление вредителей на участке',
            'date': '25.11.2020',
            'link' : '#'
        },
        2: {
            'name': 'Правила поливки',
            'date': '25.11.2020',
            'link' : '#'
        },
    };

section.recommendations-section
    .row.align-items-center
        .col-12.col-lg-8.d-flex.discount-goods-top.justify-content-between.align-items-center.order-first.order-lg-first.section-top
            h2.recom-heading Полезные советы
        .col-12.col-lg-4.d-flex.discount-goods-top.align-items-center.order-last.order-lg-2.justify-content-around.justify-content-lg-end
            a(class= 'btn section-btn' href='#') К советам

        .col-12.news-section.all-news.all-articles-section.order-2.order-lg-3
            .row
                .col-12.col-md-8.col-lg-6.news-card.news-card-grid-first
                    a.news-card-active(href='#')
                        img(src='img/recommendations-sect/recom_1.png' alt='совет')
                        .recom-card-active_heading
                            h3.news-active-heading Как правильно ухаживать за урожаем?
                            span.card-date 25.11.2020

                .col-md-4.col-lg-6
                    .row.top-news.top-articles
                        .col-12.col-sm-6.col-md-12.col-lg-6.news-card-grid.article-card
                            a.recom-top_card.d-flex.flex-column.justify-content-between(href='#')
                                h4.rec-card_heading Как предотвратить появление вредителей на участке
                                span.card-date 25.11.2020

                        .col-12.col-sm-6.col-md-12.col-lg-6.news-card-grid.article-card
                            a.recom-top_card.d-flex.flex-column.justify-content-between(href='#')
                                h4.rec-card_heading Как предотвратить появление вредителей на участке
                                span.card-date 25.11.2020

                        .col-12.col-sm-6.col-lg-6.movable-card.news-card-grid.article-card
                            a.recom-top_card.d-flex.flex-column.justify-content-between(href='#')
                                h4.rec-card_heading Правила поливки
                                span.card-date 25.11.2020

                        .col-12.col-sm-6.col-lg-6.movable-card.news-card-grid.article-card
                            a.recom-top_card.d-flex.flex-column.justify-content-between(href='#')
                                h4.rec-card_heading Правила поливки
                                span.card-date 25.11.2020

            .row.bottom-news.bottom-articles
                .col-12.col-sm-6.col-lg-4.news-card-grid.article-card
                    a.recom-top_card.d-flex.flex-column.justify-content-between(href='#')
                        h4.rec-card_heading Как предотвратить появление вредителей на участке
                        span.card-date 25.11.2020
                .col-12.col-sm-6.col-lg-4.news-card-grid.article-card
                    a.recom-top_card.d-flex.flex-column.justify-content-between(href='#')
                        h4.rec-card_heading Как предотвратить появление вредителей на участке
                        span.card-date 25.11.2020
                .col-12.col-sm-6.col-lg-4.news-card-grid.article-card
                    a.recom-top_card.d-flex.flex-column.justify-content-between(href='#')
                        h4.rec-card_heading Как предотвратить появление вредителей на участке
                        span.card-date 25.11.2020




